[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "src/test/grammars/tree-sitter-java"]
	path = src/test/grammars/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
